.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 150px;
    grid-gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: lightblue;

    & i {
        font-size: 3rem;
        color: white;
        text-align: center;
    }

    .content {
        display: grid;
        grid-gap: 1rem;

        & h2 {
            text-align: left;
        }
    }
}