.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;

    & i {
        font-size: 3rem;
        color: lightgrey;
        padding: 1rem;
        text-align: center;
    }
}